<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <nav>
        <a class="site-name" href="/">Video Reviewer</a>
    </nav>
    <div id="content" style="padding: 20px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>